* {box-sizing: border-box;}

a {
  text-decoration: none;
  color: #888;
}

header{
    text-align: center;
    padding: 10px 0;
    background: #2d3033;
    color: lightgray;
    margin: 10px;
    height: 100px;
}


header nav {
    width: calc(100% 5);
    padding : 0 20px;
    text-decoration: none;
    text-transform:capitalize ;
    color:lightgray ;    
    display: flex;
    justify-content: space-between;
}


header nav ul li {

    display: inline;
    width: calc(100%/ 5);
    text-decoration: none;
    padding: 20px; 
    margin:5px ;
}


main {
  width: 960px;
  margin: 20px auto;
}

main ul li {
  list-style: none;
  float:left;
  margin: 30px 30px 30px 0px;
}

main ul li:last-child {
  margin-right: 0px;
}

section img {
  float: left;
  margin-bottom: 30px;
}

section div {
  width: calc(960px/3);
  float: left;
  padding-left: 30px;
  margin-bottom: 30 px;
}

h2 {
  font-size: 25px;
}

section div p {
  height: 320px;
  overflow: auto;
  font-size: 18px;
  line-height: 24px;
}

button {
  border: none;
  padding: 10px 30px;
  background-color:#000;
  color:#fff;
}

button:hover {
  background: gray;
}

footer {
  clear: both;
  background: #444;
  height: 100px;
}

